<div class="navbar">
  <div class="justify-content-between d-flex align-items-center">
    <div class="col-12 d-flex justify-content-center">
      <img
        class="logo-brand shake-on-hover"
        (click)="onClick('x')"
        src="../assets/x-icon-removebg-preview.png"
        height="60px"
        alt="X Icon"
      />
      <img
        class="logo-brand shake-on-hover"
        (click)="onClick('tg')"
        src="../assets/tg-icon-removebg-preview.png"
        height="60px"
        [style]="{ 'padding-left': '25px' }"
        alt="TG Icon"
      />
      <img
        class="logo-brand shake-on-hover"
        (click)="onClick('pump')"
        src="../assets/pumpfun-removebg-preview.png"
        height="60px"
        [style]="{ 'padding-left': '35px' }"
        alt="TG Icon"
      />
    </div>
  </div>
</div>
