<div class="navbar">
  <div class="row w-100 justify-content-between align-items-center">
    <div class="col-8"></div>
    <div class="col d-flex justify-content-end">
      <img
        class="logo-brand"
        (click)="onClick('x')"
        src="../assets/x-icon-removebg-preview.png"
        height="100px"
      />
      <img
        class="logo-brand"
        (click)="onClick('tg')"
        src="../assets/tg-icon-removebg-preview.png"
        height="100px"
      />
    </div>
  </div>
</div>

<div class="section-1">
  <div class="row w-100 justify-content-center align-items-center">
    <div class="col-12 text-center">
      <img src="../assets/billy.jpg" height="500px" />
    </div>
  </div>

  <div class="row w-100">
    <div class="col-2"></div>
    <div class="col-8 text-center">
      <div class="card">
        <span style="font-size: 40px">$GBILLY</span>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>

<div class="section-2">
  <div class="row w-100 justify-content-between align-items-center">
    <div class="col-6">
      <img src="../assets/billy.jpg" height="300px" />
    </div>
  </div>

  <div class="row w-100 mt-1">
    <div class="col-2"></div>
    <div class="col-8 text-center">
      <div class="card">
        <span style="font-size: 40px"
          >Step aside, Doge—there’s a new top dog in town, and he’s got swagger.
          Meet Billy, the gangstah dog with a heart of gold and a paw on the
          pulse of the meme coin revolution. $GBILLY isn’t just another
          cryptocurrency; it’s a movement, a vibe, and a whole lotta street cred
          wrapped in one.</span
        >
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>

<div class="section-3">
  <div class="col-12 d-flex justify-content-end">
    <img src="../assets/billy-2.jpg" height="300px" />
  </div>

  <div class="row w-100 mt-1">
    <div class="col-2"></div>
    <div class="col-8 text-center">
      <div class="card">
        <span style="font-size: 40px"
          >Billy, our fearless leader, struts through the digital streets with a
          cool demeanor and a sharp mind, ready to take on the crypto world.
          He’s the kind of dog that knows how to sniff out the best
          opportunities and guard his pack with loyalty and style. $GBILLY
          embodies his spirit, bringing you a coin that’s as savvy and sharp as
          its mascot.</span
        >
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>

<div class="section-4">
  <div class="row w-100 justify-content-between align-items-center">
    <div class="col-6">
      <img src="../assets/billy.jpg" height="300px" />
    </div>
  </div>

  <div class="row w-100 mt-1">
    <div class="col-2"></div>
    <div class="col-8 text-center">
      <div class="card">
        <span style="font-size: 40px"
          >With $GBILLY, you’re not just investing in a meme coin—you’re
          joining a gang. Our community is tight-knit, supportive, and ready to
          roll with the punches.</span
        >
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
