.navbar {
  display: flex;
  margin-bottom: 1rem;
}

.section-1 {
  height: 100vh;

  .label {
    font-style: oblique;
    font-size: 50px;
  }

  .label-p {
    font-size: 100px;
  }

  .logo-label {
    color: orange;
  }

  .icon {
    color: #000000;
    font-size: 30px;
    margin: 0 10px 0 10px;
  }

  img.logo-brand:hover {
    cursor: pointer;
    /* margin: 10px; */
  }

  .buy-me-btn:hover {
    background: linear-gradient(135deg, #417488, #4fbd65);
    cursor: pointer;
  }
}

.section-2 {
  background: linear-gradient(135deg, #417488, #4fbd65) !important;
  width: 100%;
}

.section-3 {
  background: linear-gradient(405deg, #417488, #4fbd65) !important;
  width: 100%;
}

.section-4 {
  background: linear-gradient(135deg, #417488, #4fbd65) !important;
  width: 100%;
}

@media (max-width: 767px) {
  .section-1 {
    height: auto; /* Adjust height as needed */
  }
}
