.navbar {
  display: flex;
  margin-bottom: 1rem;
}

.label {
  font-style: oblique;
  font-size: 50px;
}

.label-p {
  font-size: 100px;
}

.logo-label {
  color: orange;
}

.icon {
  color: #000000;
  font-size: 30px;
  margin: 0 10px 0 10px;
}

img.logo-brand:hover {
  cursor: pointer;
  /* margin: 10px; */
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
