<div appGlitter>
  <div class="object1" id="object1"></div>
  <div class="object2" id="object2"></div>
  <div class="object3" id="object3"></div>
  <div class="object4" id="object4"></div>
  <div class="object5" id="object5"></div>
  <div class="object6" id="object6"></div>
  <div class="object7" id="object7"></div>
  <div class="object8" id="object8"></div>

  <div class="border-images">
    <div class="navbar">
      <div class="justify-content-between d-flex align-items-center">
        <div class="col-12 d-flex justify-content-center">
          <img
            class="logo-brand shake-on-hover"
            (click)="onClick('x')"
            src="../assets/x-icon-removebg-preview.png"
            height="60px"
            alt="X Icon"
          />
          <img
            class="logo-brand shake-on-hover"
            (click)="onClick('tg')"
            src="../assets/tg-icon-removebg-preview.png"
            height="60px"
            [style]="{ 'padding-left': '25px' }"
            alt="TG Icon"
          />
          <img
            class="logo-brand shake-on-hover"
            (click)="onClick('pump')"
            src="../assets/pumpfun-removebg-preview.png"
            height="60px"
            [style]="{ 'padding-left': '35px' }"
            alt="TG Icon"
          />
        </div>
      </div>
    </div>

    <div class="section-1">
      <div class="col-12 text-center mt-4">
        <div class="slideshow-container">
          <img
            *ngFor="let image of slideshowImages; let i = index"
            [src]="image"
            [class.active]="i === currentSlideIndex"
            width='50%'
            class="slideshow-image"
          />
        </div>
      </div>

      <div class="my-4">
        <div class="col-12 text-center">
          <span class="blinking-text">$BELLI</span>
        </div>
      </div>

      <div class="col-12 justify-content-center d-flex image-container">
        <img src="../assets/belii-bitcoin.png" class="belli-pfp" />
        <img src="../assets/belii-g.png" class="belli-pfp" />
        <img src="../assets/belli-fairy.png" class="belli-pfp" />
      </div>

      <div class="col-12 justify-content-center d-flex image-container">
        <img src="../assets/belli-police.png" class="belli-pfp" />
        <img src="../assets/belli-glasses.png" class="belli-pfp" />
        <img src="../assets/belli-hodl.png" class="belli-pfp" />
      </div>

      <div class="col-12 justify-content-center d-flex image-container">
        <img src="../assets/belli1.png" class="belli-pfp" />
        <img src="../assets/belli2.png" class="belli-pfp" />
        <img src="../assets/belli3.png" class="belli-pfp" />
      </div>

      <div class="col-12 justify-content-center d-flex image-container">
        <img src="../assets/belli4.png" class="belli-pfp" />
        <img src="../assets/belli5.png" class="belli-pfp" />
        <img src="../assets/belli6.png" class="belli-pfp" />
      </div>

      <div class="my-4">
        <div class="col-12 text-center default-text-container">
          <p
            class="default-text"
            (mouseover)="onMouseOver()"
            (mouseout)="onMouseOut()"
          >
            {{ textContent }}
          </p>
        </div>
      </div>
      <div class="col-12 justify-content-center d-flex image-container">
        <img src="../assets/slide1.png" class="belli-pfp-1" />
        <img src="../assets/slide2.png" class="belli-pfp-1" />
        <img src="../assets/slide3.png" class="belli-pfp-1" />
      </div>

      <div class="mt-5">
        <div class="col-12 text-center">
          <p class="buynhold-text" (click)="onBuy()">BUY & HODL</p>
        </div>
        <div class="col-12 text-center pb-4">
          <div class="gif-container" (click)="onBuy()">
            <img src="../assets/klick-click.gif" class="click-me-gif" />
          </div>
        </div>
      </div>

      <!-- <div class="justify-content-center align-items-center">
        <div class="col-12 text-center image-container">
          <img src="../assets/belli-pfp.png" class="belli-pfp-main" />
        </div>
      </div> -->
    </div>
  </div>
</div>
