@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.shake-on-hover:hover {
  animation: shake 0.5s;
}

.border-images {
  background-color: rgb(197, 204, 44);
  height: 100%;
  font-family: "Times New Roman", Times, serif;
  border-width: 20px;
  border-style: solid;
  border-image-source: url("../assets/belli-borders.png");
  border-image-slice: 1;
  border-image-repeat: repeat;
}

.navbar {
  display: flex;
  margin-bottom: 1rem;

  .logo-brand:hover {
    cursor: pointer;
  }
}

.section-1 {
  .image-container {
    width: 80%;
    margin: auto;

    img {
      border-radius: 10%;
      padding: 10px;
    }
  }

  .image-container-2 {
    width: 80%;
    margin: auto;

    img {
      border: 2px solid #d0d32e;
      border-radius: 5px;
      margin: 10px;
    }
  }

  .label {
    font-style: oblique;
    font-size: 50px;
  }

  .label-p {
    font-size: 100px;
  }

  .logo-label {
    color: orange;
  }

  .icon {
    color: #000000;
    font-size: 30px;
    margin: 0 10px 0 10px;
  }

  .buy-me-btn:hover {
    background: linear-gradient(135deg, #d0d32e, #b1b071);
    cursor: pointer;
  }

  .gif-container {
    display: inline-block;
    margin-top: -50px; /* Adjust as needed */

    .click-me-gif {
      height: 130px;
    }
  }

  .gif-container:hover {
    cursor: pointer;
  }
}
