<div class="navbar">
  <div class="row w-100 justify-content-center align-items-center">
    <div class="col-2 text-center"></div>

    <div class="col-8 text-center">
      <span class="label"
        >THIS <span style="color: rgb(255, 115, 0)">C</span
        ><span style="color: rgb(0, 0, 255)">A</span
        ><span style="color: rgb(0, 128, 75)">T</span> NEVER CHILL! THIS
        <span style="color: rgb(255, 115, 0)">C</span
        ><span style="color: rgb(0, 0, 255)">A</span
        ><span style="color: rgb(0, 128, 75)">T</span> KEEPS ON GOING!</span
      >
    </div>

    <div class="col-2 text-end">
      <a href="https://x.com/1GCat_sol" class="icon">
        <i class="bi bi-twitter-x"></i>
      </a>
      <a href="https://t.me/OneGCat" class="icon">
        <i class="bi bi-telegram"></i>
      </a>
    </div>
  </div>
</div>

<div class="main-content">
  <div class="row w-100 justify-content-center align-items-center text-center">
    <div class="col-3">
      <img src="../assets/1gcat.png" height="300px" class="mx-auto d-block" />
    </div>
    <div class="col-1">
      <span class="label"
        >1G<span style="color: rgb(255, 115, 0)">C</span
        ><span style="color: rgb(0, 0, 255)">a</span
        ><span style="color: rgb(0, 128, 75)">t</span></span
      >
    </div>
    <div class="col-3">
      <img src="../assets/1gcat.png" height="300px" class="mx-auto d-block" />
    </div>
    <div class="col-1">
      <span class="label"
        >1G<span style="color: rgb(255, 115, 0)">C</span
        ><span style="color: rgb(0, 0, 255)">a</span
        ><span style="color: rgb(0, 128, 75)">t</span></span
      >
    </div>
    <div class="col-3">
      <img src="../assets/1gcat.png" height="300px" class="mx-auto d-block" />
    </div>
  </div>
</div>

<div class="main-content">
  <div class="row w-100 justify-content-center align-items-center text-center">
    <div class="col-5">
      <img src="../assets/1gcat.png" height="300px" class="mx-auto d-block" />
    </div>
    <div class="col-2">
      <span class="label"
        >1G<span style="color: rgb(255, 115, 0)">C</span
        ><span style="color: rgb(0, 0, 255)">a</span
        ><span style="color: rgb(0, 128, 75)">t</span></span
      >
    </div>
    <div class="col-5">
      <img src="../assets/1gcat.png" height="300px" class="mx-auto d-block" />
    </div>
  </div>
</div>

<div class="main-content">
  <div class="row w-100 justify-content-center align-items-center text-center">
    <div class="col-12">
      <span class="label">CA:</span>
      <br />
      <a
        href="https://pump.fun/G5a7bwZmxxrPqqPKDvMUiDQxP9ZqE3g2zVs44woyU969"
        style="text-decoration: none; color: black"
        ><span class="label"
          >G5a7bwZmxxrPqqPKDvMUiDQxP9ZqE3g2zVs44woyU969</span
        ></a
      >
    </div>
  </div>
</div>

<div class="main-content">
  <span class="label"
    >YOUR 1 AND ONLY GANGSTA <span style="color: rgb(255, 115, 0)">C</span
    ><span style="color: rgb(0, 0, 255)">A</span
    ><span style="color: rgb(0, 128, 75)">T</span>, COZ Y NOT?</span
  >
</div>
