/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@font-face {
  font-family: "godOfThunder";
  src: url("./assets/Godofthunder-0WO1P.ttf") format("truetype");
}

* {
  cursor: url("./assets/eros-cursor.png"), auto;
  font-family: godOfThunder;
}
